<%+header%>

<h1><a id="title1" name="title1"><%:Please input the device name%></a></h1>

<form id="form" action="process" method="post">
	Device name: <input type="text" name="device_name" id="dname"></input>
	<input type="button" onclick="Reaction()" value="Submit"></input>
</form>

<%=TODO%>

<h2><a id="title2" name="title2"><%:Current devices%></a></h2>

<pre><%=table_text%></pre>

<script>
function Reaction(){
	document.getElementById("form").submit();
	<%
		require("uci")
		local x=uci.cursor(nil,"/etc/config")
		local proto=x:get("security","t1","src")
	%>	
}
</script>

<%+footer%>
